<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Weahter finder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="container">
            <h3 class="my-3">[[ mainTitle ]]</h3>
            <form @submit.prevent="submitUpdate">
                <div class="form-row align-items-center">
                    <div class="col-auto my-1">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="radioOptions" id="radioToday" value="今日"
                                v-model="radioChange">
                            <label class="form-check-label" for="radioToday">{{ str_today }}</label>
                        </div>
                    </div>
                    <div class="col-auto my-1 ml-1">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="radioOptions" id="radioMonth" value="年月"
                                v-model="radioChange">
                            <label class=" form-check-label" for="radioMonth">年月</label>
                        </div>
                    </div>
                    <div class="col-auto my-1 ml-1">
                        <label class="my-1 ml-1" for="selectYearMonth">年月選択：</label>
                        <select class="coustom-select" id="selectYearMonth" :value="selectedYearMonth"
                            @change="changeYearMonth($event)" :disabled="isSelectDisabled">
                            {% for year_month in year_month_list %}
                            <option value="{{ year_month }}">{{ year_month }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto my-1 ml-1">
                        <button class="btn"
                            v-bind:class="{'btn-primary': !isSubmitDisabled, 'btn-secondary': isSubmitDisabled}"
                            type="submit" :disabled="isSubmitDisabled">更新</button>
                    </div>
                </div>
            </form>
            <div class="col-auto my-1 mx-1">
                <img class="img-fluid" v-bind:src="imgSrc" width="980" />
            </div>
        </div>
    </div>
    </div>

    <!-- Downloaded local: bootstrap.js -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript">
        //import axios from 'axios';
        url_encoded = 'application/x-www-form-urlencoded';
        axios.defaults.baseURL = 'http://{{ ip_host }}{{ app_root_url }}';
        axios.defaults.headers.get['Content-Type'] = url_encoded;
        axios.defaults.headers.get['Accepts'] = 'application/json'; // Response json
        // httponly cookie include request 
        axios.defaults.withCredentials = true;
        const GET_TODAY_DATA_URL = axios.defaults.baseURL + '{{ path_get_today }}'; // 2回目以降
        const GET_MONTH_DATA_URL = axios.defaults.baseURL + '{{ path_get_month }}';
        const STR_TODAY = '{{ str_today }}'
        const TITLE_SUFFIX = "{{ title_suffix }}";
        // Vue 2
        var app = new Vue({
            el: '#app',
            delimiters: ['[[', ']]'],
            data: function () {
                return {
                    radioChange: '{{ str_today }}',
                    mainTitle: '{{ default_main_title }}',
                    selectedYearMonth: '' /* 年月取得リクエスト時の年月 */,
                    isSubmitDisabled: false /* true: 通信中, ボタンの背景を灰色 */,
                    imgSrc: '{{ img_src }}'/* 初回のみ当日のデータ画像がFlask側で設定する */,
                    status: '',
                }
            },
            created: function () {
                console.log('created()');
            },
            mounted: function () {
                console.log('mounted()');
            },
            computed: {
                isSelectDisabled: function () {
                    console.log('isSelectDisabled()');
                    return this.radioChange == STR_TODAY
                },
            },
            watch: {
                radioChange(newval, val) {
                    console.log('newval:' + newval);
                    if (newval) {
                        this.mainTitle = newval + TITLE_SUFFIX;
                    }
                },
            },
            methods: {
                // セレクトボックスのイベント
                // changeYearMonth(event) {
                //     val = event.target.value;
                //     console.log('changeYearMonth():' + val);
                //     if (val) {
                //         this.mainTitle = val.replace('-', '年') + '月' + TITLE_SUFFIX
                //     }
                //     // これをいれないと値が設定されない (未選択状態のまま)
                //     this.selectedYearMonth = val;
                // },
                submitUpdate: function () {
                    this.isSubmitDisabled = true;
                    console.log('submitUpdate()');
                    reqURL = null;
                    if (this.radioChange == STR_TODAY) {
                        reqURL = GET_TODAY_DATA_URL;
                    } else {
                        if (this.selectedYearMonth == '' || this.selectedYearMonth.length != 5) {
                            return;
                        }
                        reqURL = GET_MONTH_DATA_URL + this.selectedYearMonth;
                    }
                    axios
                        .get(reqURL)
                        .then(response => {
                            const status = response.data.status;
                            this.status = status;
                            console.log('response.status:', status);
                            console.log('headers:', response.headers);
                            const resp = response.data.data;
                            this.imgSrc = resp.img_src;
                            this.isSubmitDisabled = false;
                        })
                        .catch(error => {
                            this.isSubmitDisabled = false;
                            console.log(error);
                        });
                },
            },
        }
        )
    </script>
</body>

</html>
